.btn_confirmar {
    background: #286DBE;
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.8rem;
    font-size: 14px;
}

.modal__centro {
    text-align: center;
}

.titulo_dados{
    color:#286DBE;
    font-weight: 600;
    font-size: 17px;
    padding: 1rem;
}

.space {
    margin-top: 1rem;
    margin-bottom: 1rem;
}