<ion-content>
  <div class="row" style="padding:15px;">
    <div class="col-3">
      <a [routerLink]="['/']">
        Voltar
      </a>
    </div>
  </div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13817.64197406199!2d-51.2084876!3d-30.0250791!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5cdcc40ab2e5bf89!2sHospital%20Moinhos%20de%20Vento!5e0!3m2!1spt-BR!2sbr!4v1646871363668!5m2!1spt-BR!2sbr"
    width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</ion-content>