.topo {
    text-align: center;
    padding: 1rem;
}

.texto_emergencia {
    color: #286DBE;
    font-weight: 600;
    font-size: 20px;
}

.subtexto_emergencia {
    font-size: 16px;
    padding: 1rem;
}
